{% extends 'base.html' %}
{% load static %}
{% block content %}
<script>
    window.onload = function() {
        var container = document.getElementById("container");

        SkewDiv.prototype = {
            constructor : SkewDiv,
            append : function(container) {
                container.appendChild(this.elem);
                return this;
            },
            setTimer : function(offset, isTop){
                var current = this.elem.style;
                var thisOffset = offset;
                var isThisTop = isTop;
                var thisTimer = setInterval(function(){
                    current.visibility = "visible";
                    if (isThisTop)
                        var offsetMulti = 2;
                    else
                        var offsetMulti = 10;
                    current.left = thisOffset + "em";
                    thisOffset++;
                    if (thisOffset > offsetMulti){
                        clearInterval(thisTimer);
                    }
                }, 10);
                return this;
            }
        };

        var orangeSkew = new SkewDiv(5, 50, "#FFBB39");
        var blueSkew = new SkewDiv(5, 50, "#00CDFF");

        orangeSkew.append(container);
        blueSkew.append(container);
        orangeSkew.setTimer(-20, true);
        blueSkew.setTimer(-30, false);

        function SkewDiv(width, height, color, top) {
            this.elem = document.createElement("div");
            this.elem.style.position = "absolute";
            this.elem.style.display = "block";
            this.elem.style.width = width + "em";
            this.elem.style.height = height + "em";
            this.elem.style.transform = "rotateZ(45deg)";
            this.elem.style.zIndex = "-10";
            this.elem.style.backgroundColor = color;
            this.elem.style.top = "-20em";
            this.elem.style.visibility = "hidden";
        }
    };
</script>
<link rel="stylesheet" href="{% static 'css/board.css' %}">
<div id="container">
    <h1>Welcome To Thone Board</h1>
    {% for obj in objs.all %}
        <div class="userCard">
            <a href="{% url 'post_board' obj.id currentUser_id %}"><h2>{{ obj.username }}</h2></a>
            <h5>{{ obj.date_created }}</h5>
        </div>
    {% endfor %}
    <a href="{% url 'index' %}" class="homeButton">To Home</a>
</div>
{% endblock %}